block content
 
    h1 Links 

    p Now you can try authenticated API calls like this:
    
    ul#links
        li
            a(href="/logout") logout
        li
            a(href="/getMyAccounts") Get My Accounts
        li
            a(href="/getMyAccountsJson") Get My Accounts (JSON)
        li
            a(href="/getCurrentUser") Get Current User
        li
            a(href="/createTransactionRequest") Create Transaction Request (make payment)

        li
            a(href="/obp/v4.0.0/users/current") Get current user
        li
            a(href="/obp/v4.0.0/banks/ms.01.mx/accounts") Get user accounts
        li
            a(href="/obp/v4.0.0/banks/ms.01.mx/products") Get products
        li
            a(href="/obp/v4.0.0/banks/ms.01.mx/balances") Get balances


    p Admin Calls (Requires a filesConfig.json)       

    ul#links
        li
            a(href="/loadCustomers") Load Customers 
        li
            a(href="/createEntitlements") Create Entitelments  


    p Please see your API Explorer for the full list of API calls available.
